@using Newtonsoft.Json
@model PowerPlantMvcApplication.Models.Dto.HomeIndexDto
@{
    ViewData["Title"] = "Home Page";
}

@Html.Partial("_Sidebar")
@Html.Partial("_Topbar")



<div class="clearfix"></div>

<div class="content-wrapper">
<div class="container-fluid">

<!--Start Dashboard Content-->

<div class="row mt-5">
    <div class="col-12 col-lg-12 col-xl-12">
        <div class="card">
            <div class="card-header">
                Unit Overall Capacity and Generation
            </div>
            <div class="card-body">
                <ul class="list-inline">
                    <li class="list-inline-item"><i class="fa fa-circle mr-2 text-white"></i>Generation</li>
                    <li class="list-inline-item"><i class="fa fa-circle mr-2 text-light"></i>Capacity</li>
                </ul>
                <div class="chart-container-1">
                    <canvas id="chart1"></canvas>
                </div>
            </div>

            
        </div>
    </div>
</div><!--End Row-->


<!--End Dashboard Content-->

<!--start overlay-->
<div class="overlay toggle-menu"></div>
<!--end overlay-->

</div>
<!-- End container-fluid-->

</div><!--End content-wrapper-->


<!--Start footer-->
<footer class="footer">
    <div class="container">
        <div class="text-center">
            Copyright © 2018 Dashtreme Admin
        </div>
    </div>
</footer>
<!--End footer-->
@Html.Partial("_RightSidebar")

@section Scripts
{
    <script>
    var labels = @Html.Raw(JsonConvert.SerializeObject(Model.Labels));
                
    var newVisitor = [
        @(string.Join(",", Model.Values.Select(e=> e)))
    ];
    var oldVisitor = [
                             @(string.Join(",", Model.Capacity.Select(e=> e)))
                         ];
    </script>
    <script src="/assets/js/index.js"></script>
}